@font-face {
    font-family: PTsansBold;
    src: url(fonts/PTSans/PTSans-Bold.ttf);
}
@font-face {
    font-family: PTsansReg;
    src: url(fonts/PTSans/PTSans-Regular.ttf);
}
@font-face {
    font-family: PTsansItalic;
    src: url(fonts/PTSans/PTSans-Italic.ttf);
}
@font-face {
    font-family: PTsansBoldIt;
    src: url(fonts/PTSans/PTSans-BoldItalic.ttf);
}

.bold-font {
    font-family: 'PTsansBold', sans-serif; /* 'sans-serif' as a fallback */
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #470606;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.headerContainer{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(rgb(60, 19, 19), rgb(90, 0, 0), rgb(90, 0, 0));
    flex-direction: row;
    z-index: 2;
    align-items: center;
}
.header1{
    text-align: left;
    padding-left: 5%;
    width: 50%;
    height: 100%;
}
.header2{
    width: 50%;
    height: 100%;
}
@media (max-width: 900px) {
    .headerContainer{
        flex-direction: column;
        height: 160px;
    }
    .header1{
        text-align: center;
        width: 100%;
    }
    .header2{
        width: 100%;
    }
}

.mainHeader{
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #ffffff;
    font-family: PTsansBold, serif;
    font-size: 66px;
    transition: transform ease 0.3s, text-shadow ease 0.3s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);;
}
.mainHeader:hover {
    transform: translateY(-2px);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}
.mainHeader:disabled{cursor: default;}

.headerButton{
    width: 130px;
    height: 46px;
    border-radius: 23px;
    color: #470606;
    background-color: #f6f0f0;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    font-family: PTsansBold;
    font-size: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color ease 0.2s, filter ease 0.2s;
}
.headerButton:hover{background-color: #bfbfbf; filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.4));}
.headerButton:active{background-color: #858585;}
.headerButton:disabled{background-color: #6c6c6c; cursor: default;}

.buttonContainer{
    display: flex;
    justify-content: center; /* Horizontally center the buttons */
    align-items: center;
    height: 100%;
}


.topContainer{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    min-height: 600px;
    width: 100%;
    background: #eeeeee;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.rightBox{
    grid-column: 2;
    grid-row: 1 / 3;
    background: #eeeeee;
    justify-self: center;
    align-content: center;
    justify-items: center;

}

.leftTop{
    grid-column: 1;
    grid-row: 1;
    background: #eeeeee;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-end;
}
.leftBottom{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    grid-column: 1;
    grid-row: 2;
    background: #eeeeee;
    justify-self: center;
    margin-bottom: 40px;
}

@media (max-width: 1080px) {
    .topContainer {
        min-height: 750px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    .rightBox {
        grid-column: 1;
        grid-row: 2;
    }
    .leftBottom {
        width: 100%;
        grid-column: 1;
        grid-row: 3;
    }
    .titleText, .subtitleText{
        margin-left: 50px;
    }
}

.titleText{
    text-align: center;
    font-family: PTsansReg, serif;
    color: #5A0000;
    font-size: 64px;
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.subtitleText{
    margin-right: 120px;
    text-align: center;
    font-family: PTsansReg, serif;
    color: #000000;
    font-size: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 30px;
}

.iconButton{
    border-radius: 50px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    filter: brightness(0) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    cursor: pointer;
    padding-left: 5px;
    transition: filter ease 0.2s;

}
.iconButton:hover{filter: brightness(0.15) grayscale(100%) drop-shadow(2px 9px 6px rgba(0, 0, 0, 0.35));}
.iconButton:active{filter: brightness(0.2) grayscale(100%) drop-shadow(3px 9px 6px rgba(0, 0, 0, 0.45));}


.portrait{
    border-radius: 50px;
    height: 400px;
    width: 370px;
    outline: 2px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
}

.colourContainer{
    z-index: 1;
    background: #eeeeee;
    -webkit-box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
    box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
}
.descriptionBox{
    min-height: 20px;
    width: 100%;
    background: rgba(199, 170, 170, 0.2);
    padding-bottom: 20px;
}

.minorHeader{
    padding-top: 40px;
    padding-left: 3%;
    padding-bottom: 20px;
    font-family: PTsansBold, serif;
    color: #000000;
    font-size: 64px;
}

.subtext{
    padding-left: 4%;
    padding-right: 2%;
    font-family: PTsansReg, serif;
    color: #000000;
    font-size: 32px;
    padding-bottom: 10px;
}


.hireContainer{
    height: 100%;
    width: 100%;
    background: #eeeeee;
    flex-direction: row;
}

.textContainer{
    min-height: 100px;
    background: #eeeeee;
}
.baseContainer{
    width: 300px;
    background: #B58181;
    border-radius: 50px;
    padding: 2px;
    margin: 0 auto;
}

.italicText{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    padding-top: 100px;
    font-family: PTsansBoldIt, serif;
    font-size: 64px;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding-bottom: 40px;
}

.bigButton{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 150px;
    font-family: PTsansBold, serif;
    font-size: 64px;
    border-radius: 50px;
    color: #5A0000;
    -webkit-box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    border: 0;
    background: rgba(199, 170, 170, 0.3);
    margin-bottom: 80px;
    transition: background-color ease 0.4s, transform ease 0.2s, box-shadow ease 0.2s;
}
.bigButton:hover{transform: translateY(-4px);background: rgba(199, 170, 170, 0.7); box-shadow: 6px 8px 21px 1px rgba(0,0,0,0.5);}
.bigButton:active{background: rgba(199, 170, 170, 0.9);}

.footerIcon{

    border-radius: 30px;
    margin-left: 9px;
    width: 60px;
    height: 60px;
    filter: brightness(0) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    cursor: pointer;
    opacity: 75%;
}
.footerIcon:hover{opacity: 80%;}
.footerIcon:active{opacity: 90%;}

.footer{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 150px;
    width: 100%;
    background: #470606;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    align-items: center;
    justify-content: center;
}

.leftF{
    grid-column: 1;
    grid-row: 1;
}
.middleF{
    grid-column: 2;
    grid-row: 1;
}
.rightF{
    grid-column: 3;
    grid-row: 1;
}
@media (max-width: 1080px) {
    .footer {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .leftF{
        grid-column: 1;
        grid-row: 1;
    }
    .middleF{
        grid-column: 2;
        grid-row: 1;
    }
    .rightF{
        grid-column: 1 / 3;
        grid-row: 2;
    }
}

.topChild{
    align-items: center;
    display: inline-block;
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.footerName{
    text-align: center;
    font-family: PTsansBold, serif;
    color: #ffffff;
    font-size: 32px;
}
.copyrightText{
    text-align: center;
    font-family: PTsansReg, serif;
    color: #ffffff;
    font-size: 20px;
}
.footerText{
    text-align: center;
    font-family: PTsansBold;
    color: #ffffff;
    font-size: 20px;
}

.circleButton{
    height: 100px;
    width: 100px;
}

.contactBody{
    display: flex;
    flex-direction: column;
}

.contactTitle{
    background-color: #eeeeee;

}

.contactTexts{
    background-color: #eeeeee;
}
.contactCollection{
    background-color: #eeeeee;
    padding-top: 150px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center; /* Horizontally center the buttons */
    align-items: center;
    gap: 50px;
}

.iconButton2{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    border-radius: 50px;
    margin-top: 50px;
    width: 120px;
    height: 120px;
    filter: brightness(0) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    cursor: pointer;
    padding-left: 5px;
    transition: filter ease 0.2s;

}
.iconButton2:hover{filter: brightness(0.15) grayscale(100%) drop-shadow(2px 9px 6px rgba(0, 0, 0, 0.35));}
.iconButton2:active{filter: brightness(0.2) grayscale(100%) drop-shadow(3px 9px 6px rgba(0, 0, 0, 0.45));}

.standardTitle{
    padding-top: 50px;
    padding-left: 50px;
    font-family: PTsansReg, serif;
    font-size: 80px;
    text-align: left;
    color: rgba(90,0,0,1);
    margin: 0 auto;
    padding-bottom: 30px;
}

.contactInfo{
    font-family: PTsansReg, serif;
    font-size: 40px;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding-bottom: 40px;
}

.bold-font-small {
    font-family: 'PTsansBold', sans-serif; /* 'sans-serif' as a fallback */
    font-weight: bold;
}

.bold-font-mini {
    font-family: 'PTsansBold', sans-serif; /* 'sans-serif' as a fallback */
    font-weight: bold;
    font-size: 32px;
}
@media (max-width: 1080px) {
    .contactInfo{
        font-size: 30px;
    }
    .contactCollection{
        gap: 5px;
    }
}

.titleSection{
    background-color: #eeeeee;
}

.aboutTop{
    font-family: PTsansReg, serif;
    font-size: 36px;
    text-align: left;
    color: black;
}
.aboutTopSub{
    font-family: PTsansReg, serif;
    font-size: 32px;
    text-align: left;
    color: black;
    padding-left: 60px;
}