@font-face {
    font-family: PTsansBold;
    src: url(fonts/PTSans/PTSans-Bold.ttf);
}
@font-face {
    font-family: PTsansReg;
    src: url(fonts/PTSans/PTSans-Regular.ttf);
}
@font-face {
    font-family: PTsansItalic;
    src: url(fonts/PTSans/PTSans-Italic.ttf);
}
@font-face {
    font-family: PTsansBoldIt;
    src: url(fonts/PTSans/PTSans-BoldItalic.ttf);
}

body {
    background: #eeeeee;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

button{
    margin: 0;
    padding: 0;
}

.topContainer{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: vertically center-aligns text and buttons */

    top: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    padding-right: 50px;
    padding-left: 50px;
    background-image: linear-gradient(rgb(60, 19, 19), rgb(90, 0, 0), rgb(90, 0, 0));
}

.buttons{
    display: flex;
    gap: 10px;
}

.headerButton{
    width: 130px;
    height: 46px;
    border-radius: 23px;
    color: #470606;
    background-color: #f6f0f0;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    font-family: PTsansBold;
    font-size: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.headerButton:hover{background: #e1e1e1;}
.headerButton:active{background: #b1b1b1;}

.mainHeader{
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #ffffff;
    font-family: PTsansBold;
    font-size: 66px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.topChild{
    align-items: center;
    display: inline-block;

}

.middleBox{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 700px;
    width: 100%;
}

.middleLeft{
    height: 700px;
    float: left;
    width: 50%;
}

.leftTop{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titleText{
    text-align: center;
    font-family: PTsansReg, serif;
    color: #5A0000;
    font-size: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.subtitleText{
    margin-right: 100px;
    text-align: center;
    font-family: PTsansReg, serif;
    color: #000000;
    font-size: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 30px;
}

.leftBottom{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 30px;
}

.iconButton{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    filter: brightness(0) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    cursor: pointer;
    padding-left: 5px;

}
.iconButton:hover{filter: brightness(0.15) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));}
.iconButton:active{filter: brightness(0.2) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));}

.middleRight{
    height: 700px;
    width: 50%;
    align-content: center;
}


.portrait{
    border-radius: 50px;
    height: 400px;
    width: 400px;
    outline: 2px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    margin-left: 15%;
}

.descriptionBox{
    height: 500px;
    width: 100%;
    background: rgba(199, 170, 170, 0.2);
    -webkit-box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
    box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);
}

.minorHeader{
    padding-top: 40px;
    padding-left: 3%;
    padding-bottom: 20px;
    font-family: PTsansBold, serif;
    color: #000000;
    font-size: 64px;
}

.subtext{
    padding-left: 3%;
    font-family: PTsansReg, serif;
    color: #000000;
    font-size: 32px;
}

.hireBox{
    height: 400px;
    width: 100%;

}

.hireText{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.italicText{
    font-family: PTsansBoldIt, serif;
    font-size: 64px;
    text-align: center;
    color: black;
    margin: 0 auto;
}

.contactButton{
    align-content: center;
    height: 200px;
    width: 100%;
}

.bigButton{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 150px;
    font-family: PTsansBold, serif;
    font-size: 64px;
    border-radius: 50px;
    color: #5A0000;
    -webkit-box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 4px 21px 1px rgba(0,0,0,0.4);
    border: 0;
    background: rgba(199, 170, 170, 0.3);

}
.bigButton:hover{background: rgba(199, 170, 170, 0.5);}
.bigButton:active{background: rgba(199, 170, 170, 0.6);}


.footer{
    margin-top: 100px;
    height: 150px;
    width: 100%;
    background: #470606;
    display: flex;           /* Use flexbox for alignment */
    justify-content: center; /* Center the container-div horizontally */
    align-items: center;
}

.leftFooter{
    text-align: center;
    float: left;
    width: 33%;
    height: 100%;
}

.footerName{
    padding-top: 40px;
    font-family: PTsansBold, serif;
    color: #ffffff;
    font-size: 32px;
}

.middleFooter{
    float: left;
    width: 34%;
    height: 100%;
}

.copyrightText{
    padding-top: 35px;
    text-align: center;
    font-family: PTsansReg, serif;
    color: #ffffff;
    font-size: 20px;
}

.rightFooter{
    float: right;
    width: 33%;
    height: 100%;
}

.footerText{
    margin-top: 25px;
    text-align: center;
    font-family: PTsansBold;
    color: #ffffff;
    font-size: 20px;
}

.buttonContainer{
    width: 300px;
    background: #B58181;
    border-radius: 50px;
    padding: 2px;
    margin: 0 auto;

}

.footerIcon{
    width: 60px;
    height: 60px;
    filter: brightness(0) grayscale(100%) drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    -webkit-user-drag: none;
    cursor: pointer;
    padding-left: 10px;
    opacity: 75%;

}
.footerIcon:hover{opacity: 80%;}
.footerIcon:active{opacity: 90%;}
